## https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore

# Visual Studio Code Files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Custom Files
bin/Debug/netcoreapp3.1/monkey-business.runtimeconfig.dev.json
